MONGODB_CONNECTION_URI=mongodb://mongodb
BET_TELEGRAM_BOT_TOKEN=1001253173:AAFY2ven2e7ezTjddRvmsUJRJS2ulCX-1o4
PINNACLE_API_KEY=CmX2KcMrXuFmNg6YFbmTxE0y9CIrOi0R
PINNACLE_DEVICE_UUID=441c0a6b-9cf666fe-38d75bda-32c8e40d
PINNACLE_TRUST_CODE=3c84a514550800652d6b7a99a45549f22683f822a58bfe234cd4f4cc874f9d3a
PINNACLE_USERNAME=poluga@protonmail.com
PINNACLE_PASSWORD=YNm!%r%7ha32T6uWVYur
