MONGODB_CONNECTION_URI=mongodb://mongodb
BET_TELEGRAM_BOT_TOKEN=INSERT_BOT_TOKEN_HERE
PINNACLE_API_KEY=INSERT_PINNACLE_API_KEY_HERE
PINNACLE_DEVICE_UUID=INSERT_PINNACLE_DEVICE_UUID_HERE
PINNACLE_TRUST_CODE=INSERT_PINNACLE_TRUST_CODE_HERE
PINNACLE_USERNAME=INSERT_PINNACLE_USERNAME_HERE
PINNACLE_PASSWORD=INSERT_PINNACLE_PASSWORD_HERE
