# Ignore everything
**

# Un-ignore relevant files

# yarn
!/.yarn/cache/**
!/.yarn/releases/**
!/.yarn/plugins/**
!/.pnp.js
!/.yarnrc.yml
!/yarn.lock
!/package.json

# source code
!/packages/**
!/services/**

# Ignore unnecessary files that may be inside allowed directories
# This should go after the allowed directories

# git
**/.gitattributes
**/.gitignore

# docker
**/.dockerignore

# macOS
**/.DS_Store
